* {
    text-align: center;
    cursor: default;
    user-select: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vmin;
    padding: 0.3vmin;
}

body {
    background-color: antiquewhite;
}

button {
    margin: 1vmin;
}